# requirements.txt
# This project was developed and tested with Python 3.9.

numpy==1.26.4
pandas==2.3.1
scipy==1.13.1
scikit-learn==1.6.1
scikit-image==0.24.0
matplotlib==3.6.2

torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1

monai==1.5.1
mpmath==1.3.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
notebook==7.4.7
notebook_shim==0.2.4
numpy==2.0.0
opencv-python-headless==4.12.0.88
Pillow==9.3.0
albumentations==2.0.8
imageio==2.37.0
tifffile==2024.8.30

tqdm==4.64.1
PyYAML==6.0.2
wandb==0.13.5
spikingjelly==0.0.0.0.14
