albumentations==2.0.8
connected_components_3d==3.26.0
ipython==8.12.3
ipython==8.18.1
ipywidgets==8.1.7
labelme==3.16.2
matplotlib==3.6.2
monai==1.5.1
numpy==2.3.4
opencv_python_headless==4.12.0.88
pandas==2.3.3
Pillow==9.3.0
Pillow==12.0.0
pycocotools==2.0.10
PyQt5==5.15.11
pyqt5_sip==12.17.1
scikit_learn==1.7.2
scipy==1.16.3
setuptools==78.1.1
SimpleITK==2.5.2
skimage==0.0
torch==2.7.1
torchvision==0.22.1
tqdm==4.64.1
transformers==4.57.1
